<html>

<body>
  <h1>Books Register</h1>

  <form action="/books" method="post">

    <input type="hidden" id="id" name="id" />

    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" placeholder="input title" value="${data.book.titulo}" />
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="text" id="price" name="price" placeholder="150.25" value="${data.book.preco}" />
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea cols="20" rows="10" id="description" name="description" placeholder="talk about the book">${data.book.descricao}</textarea>
    </div>

    <input type="submit" value="Salvar" />
  </form>
</body>

</html>